# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual Environments
# ======================
venv/
env/
.venv/
conda-env/

# ======================
# Data & Datasets (IMPORTANT)
# ======================
data/
datasets/
alerts/
assets/

# ======================
# Model Weights
# ======================
*.pt
*.pth
*.h5
*.onnx

# ======================
# Videos / Archives
# ======================
*.mp4
*.avi
*.zip

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Temp / Cache
# ======================
*.tmp
*.cache
